body {
    margin: 0;
    font-size: 16px;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}

#logo-and-nav {
    display: flex;
    justify-content: space-between;
}

#logo-and-hamburger {
    padding: 16px;
}

#header-logo {
    width: 160px;
}

#header-nav {
    align-self: center;
    font-size: 120%;
}

#header-nav > a {
    padding: 10px 10px;
    margin: 0 10px;
    border-bottom: black 0px solid;
    transition-property: border-bottom;
    transition-duration: 0.1s;
}

#header-nav > a.active-page, #header-nav > a.active-page:hover {
    border-bottom: #FA6607 3px solid;
}

#header-nav > a:hover {
    border-bottom: black 3px solid;
}

#logo-and-hamburger > a {
    display: none;
}

#banner-image {
    height: 300px;
    background-image: url("dmnollk.jpg");
    background-size: cover;
    background-position-y: 18%;
}

nav > a, nav > a:visited {
    text-decoration: none;
    color: black;
}

main {
    background-color: #FEFDFC;
}

main > section {
    padding: 40px calc((100% - 700px) / 2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

main > section > p > a {
    display: inline-block
}

section > h1 {
    margin: 7px;
    font-size: 300%;
}

section > h2 {
    margin: 7px;
}

section > h3 {
    margin: 7px;
}

section > h4 {
    margin: 7px;
    font-size: 120%;
}

section > p {
    margin: 8px;
    padding: 14px;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

section ul {
    margin: 8px;
    padding-left: 0;
    text-align: justify;
}

section li {
    list-style: none; 
}

section li::before {
    content: ">";
    font-weight: bold;
    margin-right: 10px;
}

footer {
    margin-top: 50px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

footer > section {
    padding: 30px;
    text-align: center;
}

footer > section > p {
    color: grey;
    font-size: 85%;
    text-align: left;
}

footer > section a {
    color: grey;
    text-decoration: none;
}

footer > section > h3 {
    color: #FA6607;
}

footer > section > h4, footer > section > h5 {
    color: #FA6607;
    margin: 0px;
}

footer > p {
    color: grey;
    font-size: 65%;
    position: absolute;
    bottom: 0px;  
    left: 12px;
}

footer .feather {
    color: grey;
}

footer #contact > a {
    display: flex;
    align-items: center;
    font-size: 85%;
    margin: 4px 0;
}

footer #contact > a > p {
    margin: 0;
}

footer #contact svg {
    margin-right: 6px;
}

/* Smal */
@media screen and (max-width: 1280px) {
    body {
        font-size: 14px;
    }
}

/* Mobil / jättesmal */
@media screen and (max-width: 960px) {
    body {
        font-size: 13px;
    }

    #logo-and-nav {
        flex-direction: column;
    }

    #logo-and-hamburger {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
        border-radius: 2px;
    }

    #logo-and-hamburger > a {
        align-self: center;
        display: block;
        font-size: 260%;
        padding: 16px 24px;
        text-decoration: none;
        color: black;
    }

    #header-nav {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        max-height: 0px;
        transition-property: max-height, padding;
        transition-duration: 0.5s;
        overflow: hidden;
    }

    #header-nav.expanded {
        max-height: 280px;
        padding: 16px 0;
    }
    
    #header-nav > a {
        padding: 10px 10px;
        margin: 0 10px;
        border: none;
        color: black;
        transition-property: color;
        transition-duration: 0.1s;
    }

    #header-nav > a.active-page, #header-nav > a.active-page:hover {
        border: none;
        color: #FA6607;
    }

    #header-nav > a:hover {
        border-bottom: none;
        color: #FA6607;
    }

    #banner-image {
        height: 240px;
        background-size: 130%;
        background-position-x: 44%;
        background-position-y: 20%;
        position: relative;
        top: -1px;
    }

    footer {
        flex-direction: column;
        padding: 20px 0;
    }

    footer > section {
        padding: 10px 30px;
        text-align: left;
    }
}