body {
    margin: 0;
    font-size: 16px;
    font-family: "Ubuntu", Helvetica, Arial, sans-serif;  
    background-color:  rgb(247, 243, 240);  
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
    background-color: #FEFDFC;
}

#logo-and-nav {
    display: flex;
    justify-content: space-between;
}

#logo-and-hamburger {
    padding: 16px;
}

#header-logo {
    width: 160px;
}

#header-nav {
    align-self: center;
    font-size: 120%;
    display: flex;
    align-items: baseline;
}

#committees-nav {
    position: relative;
    display: inline-block;  
}

#committees-nav #committees-submenu {
    display: none;
    position: absolute;
    background-color: #FEFDFC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;    
}

#committees-nav:hover #committees-submenu {
    display: block;
}

#committees-nav #committees-submenu a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;   
    border-bottom: none;
}

#committees-nav #committees-submenu a:hover {    
    background-color: #ebebf1;
}

#committees-nav #committees-submenu a.active-page, #committees-nav #committees-submenu a.active-page:hover {
    background-color: #d7d7dd; 
}

#header-nav > a, #header-nav > div > a{
    padding: 10px 10px;
    margin: 0 10px;
    border-bottom: black 0px solid;
    transition-property: border-bottom;
    transition-duration: 0.1s;
}

#header-nav > a.active-page, #header-nav > a.active-page:hover, #header-nav #committees-nav > a.active-page,
    #header-nav #committees-nav > a.active-page:hover {
    border-bottom: #FA6607 3px solid;
}

#header-nav > a:hover, #header-nav #committees-nav > a:hover {
    border-bottom: black 3px solid;
}

#logo-and-hamburger > a {
    display: none;
}

#banner-image {
    height: 300px;
    background-image: url("dmnollk.jpg");
    background-size: cover;
    background-position-y: 18%;    
}

nav > a, nav > a:visited, nav > a > div, nav > a > div > a, nav > div > a, nav > div > div > a {
    text-decoration: none;
    color: black;
}

main > section {
    padding: 40px calc((100% - 700px) / 2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.member {
    max-width: 450px;
    text-align: justify;
}

.member p {
    margin: 0;
}

main > section:nth-child(even) .member img {
    float: right;
    margin-left: 10px;
}

main > section:nth-child(odd) .member img {
    float: left;    
    margin-right: 10px;
}

.member > img {
    width: 160px; 
}

main > section > p > a {
    display: inline-block;
    color: rgba(20, 70, 240, 0.85);
    text-decoration: none;
}

main > section > p > a:hover {
    text-decoration: underline;
}

section > h1 {
    margin: 0;
    margin-bottom: 16px;
    font-size: 300%;
}

section > h2 {
    margin: 0;
    margin-bottom: 14px;
}

section > h3 {
    margin: 0;
    margin-bottom: 13px;
}

section > h4 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 120%;
}

section > p {
    margin: 8px;
    padding: 14px;
    border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
}

section > p > a > p {
    margin: 0;
    padding: 0;
    border-bottom: none;
}

section ul {
    margin: 8px;
    padding-left: 0;
    text-align: justify;
}

section li {
    list-style: none; 
}

section li::before {
    content: ">";
    font-weight: bold;
    margin-right: 10px;
}

footer {
    margin-top: 50px;
    background-color: #333;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

footer > section {
    padding: 30px;
    text-align: center;
}

footer > section > p {
    color: grey;
    font-size: 85%;
    text-align: left;
}

footer > section a {
    color: grey;
    text-decoration: none;
}

footer > section > h3 {
    color: #FA6607;
}

footer > section > h4, footer > section > h5 {
    color: #FA6607;
    margin: 0px;
}

footer > p {
    color: grey;
    font-size: 65%;
    position: absolute;
    bottom: 0px;  
    left: 12px;
}

footer .feather {
    color: grey;
}

footer #contact > a {
    display: flex;
    align-items: center;
    font-size: 85%;
    margin: 4px 0;
}

footer #contact > a > p {
    margin: 0;
}

footer #contact svg {
    margin-right: 6px;
}

/* Smal */
@media screen and (max-width: 1280px) {
    body {
        font-size: 14px;
    }
}

/* Mobil / jättesmal */
@media screen and (max-width: 960px) {
    body {
        font-size: 13px;
    }

    #logo-and-nav {
        flex-direction: column;
    }

    #logo-and-hamburger {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        border-radius: 2px;
    }

    #logo-and-hamburger > a {
        align-self: center;
        display: block;
        font-size: 260%;
        padding: 16px 24px;
        text-decoration: none;
        color: black;
        text-align: left;
    }

    #header-nav {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        max-height: 0px;
        transition-property: max-height, padding;
        transition-duration: 0.5s;
        overflow: hidden;
    }

    #header-nav.expanded {
        max-height: 480px;
        padding: 16px 0;
    }

    #header-nav.expanded a {
        float: none;
        display: block;
        text-align: left;
    }
    
    #header-nav > a {
        padding: 10px 10px;
        margin: 0 10px;
        border: none;
        color: black;
        transition-property: color;
        transition-duration: 0.1s;
    }

    #header-nav > a.active-page, #header-nav > a.active-page:hover, #header-nav #committees-nav > a.active-page,
      #header-nav #committees-nav > a.active-page:hover {
        border: none;
        color: #FA6607;
    }

    #header-nav > a:hover, #header-nav #committees-nav > a:hover {
        border-bottom: none;
        color: #FA6607;
    }

    #committees-nav {
        float: none;        
    }
    
    #committees-nav #committees-submenu {
        position: relative; 
    }

    #banner-image {
        height: 240px;
        background-size: 130%;
        background-position-x: 44%;
        background-position-y: 20%;
        position: relative;
        top: -1px;
    }

    footer {
        flex-direction: column;
        padding: 20px 0;
    }

    footer > section {
        padding: 10px 30px;
        text-align: left;  
    }

    footer > section > p {
        display: flex;
        float: left;
        margin-left: 0;        
        margin-top: 0;
        padding: 0;
    }
}